* {padding: 0; margin: 0; font-family: Verdana; box-sizing: border-box;}
body{background-color: white;}

@font-face {
    font-family: heroes;
    src: url('fonts/Heroes-Legend.ttf') format('truetype');}

:root{
    --cor1: #1E4DE8;
    --cor2: #2256FF;
    --cor3: #183CB5;
    --cor4: #2D3B69;
    --cor5: #6585EC;}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 3000px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    color:white;
    margin: auto;
    padding: 20px;
    font-family: Verdana;}
    
.header > div > strong{
    font-family: heroes;}

#titulop{font-size: 20px;}

#tier{
    width: 80px;
    font-size: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    background-color: rgba(80, 176, 255, 0);
    box-shadow: white 0px 4px 0px;
    border: none;
    padding: 5px;
    color: white;
    font-weight: bolder;}

#tier:hover{
    color: rgb(80, 176, 255);
    background-color: white;
    box-shadow: white 0px 0px 5px;}

h3#t2{
    font-family: heroes;
    font-weight: normal;
    font-size: 12px;
    color: var(--cor5);}

.descricao{color: var(--cor5); font-size: 14px; font-family: Arial, Helvetica, sans-serif}




/*MAIN CONTENT*/



.section1{
	max-width: 920px;
    margin: 19px auto auto auto;
    text-align: center;
    background-color: white;
    border: var(--cor5);
    border-radius: 30px;
    padding: 20px;
    font-family: open sans wf,sans-serif;
    box-shadow: var(--cor5) 0px -5px 0px;}

.divChampions{
    display: flex;
    flex-wrap: wrap; /* o wrap faz com que a linha quebre para baixo ao chegar no final da tela */
	justify-content: center;
	align-items: center;
	margin-top: 20px;
    max-width: 920px;}

.personagens{
	display: flex;
	position: relative; /* importante para alinhar o 'span' dentro da div */
	justify-content: center;
	align-items: center;
	margin: 10px 10px 10px 10px;}

.champions{
	width: 100px;
	height: 100px;
	text-decoration: none;
	overflow: hidden;
    position: relative;}

.icone{
    max-width: 100%;
 	height: 100%;
 	transition: 0.3s;
 	border-radius: 3px 3px 0px 0px;
 	transition-duration: 0.3s;
 	border-radius: 50%;}

.icone:hover{
	border-radius: 10px;}

.spanChampion{
	position: absolute; /* necessário para alinhar dentro da div dos personagens */
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	text-align: center;
	text-transform: capitalize;
	font-size: 13px;
    line-height: 15px;
    font-weight: 800;
    background-color: var(--cor5);
    border-radius: 30px 30px 10px 10px;
    text-transform: capitalize;}


footer.rodape{
    margin: 50px auto auto auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor4);
    padding: 50px;
    font-size: 12px;}

footer > div{
    max-width: 400px;
    margin: auto;}

footer > div > p, h2{
    color: rgba(255, 255, 255, 0.672);
    font-weight: bolder;}

