
        *{box-sizing: border-box; font-family: Verdana;}

        div{color: white;}

        #imgPages{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: white 0px 0px 0px 2px;
        }

        #pRes{
            font-size: 12px;
            max-width: 200px;
        }

        #champdiv{
            text-align: left;
            max-width: 872px;
            border-top-left-radius: 120px;
            padding: 20px;
            height: 261;
            margin: auto;
            background: url(../images/divchamp.png);
            margin-top: 70px;
        }
        video{
            border-top-left-radius: 500px;
            border-top-right-radius: 40px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            padding-left: 20px;
            padding-bottom: 5px;
        }
        h1{color: white; padding-left: 40px;}


        .champvid{float: right;}

        
        #pChamp{
            padding: 10px;
        }

        #champItem{
            text-align: left;
            border-top-left-radius: 40px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            
            max-width: 800px;
            padding: 20px;
            height: 261;
            margin: auto;
            background-color: rgb(72, 167, 255);
            margin-top: 70px;
        }

        #conteudoBasico{
            max-width: 800px;
            margin: auto;
            padding: 10px;
            box-shadow: rgb(78, 169, 255) 0px 24px 0px;
            border-bottom-right-radius: 40px;
        }

        #goBack{
            width: 100px;
            padding: 10px;
            margin: auto;
            float: right;
            color: rgb(78, 169, 255);
            background-color: white;
            border: none;
            border-radius: 10px;
            box-shadow: rgb(72, 167, 255) 0px 5px 0px;
            cursor: pointer;
            transition: 0.3s;
            font-weight: bolder;
        }
        #goBack:hover{
            background-color: rgb(72, 167, 255);
            box-shadow: rgb(72, 167, 255) 0px 0px 0px;
            color: white;
        }

        footer{
            padding-top: 300px;
            padding-bottom: 20px;
            max-width: 800px;
            margin: auto;
            color: rgb(0, 98, 189);
            font-weight: bolder;
            text-align: center;
        }

        #h3Desc{
            text-align: left;
            color: rgb(67, 164, 255);
            padding-left: 20px;
            box-shadow: rgb(78, 169, 255) -5px 0px 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        #pDesc{
            color: rgb(0, 54, 104); max-width: 600px; text-align: left; margin: auto;
        }
        #divDesc{
            max-width: 700px;
            margin: auto;
        }