
        *{box-sizing: border-box; font-family: Verdana;}
        
        h1{color: white; padding-left: 40px;}

        div{color: white;}

        ol{
            margin-left: 10%;
            color: rgb(0, 54, 104);
        }

        :root{
            --cor1: #1E4DE8;
            --cor2: #2256FF;
            --cor3: #183CB5;
            --cor4: #2D3B69;
            --cor5: #6585EC;
        
        }
        
        #imgPages{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            box-shadow: white 0px 0px 0px 2px;
        }

        #pRes{
            font-size: 10px;
            max-width: 200px;
        }

        #champdiv{
        text-align: left;
        max-width: 872px;
        border-radius: 120px 5px 5px 5px;
        padding: 20px;
        height: 261;
        margin: auto;
        background-color: var(--cor5);
        margin-top: 18px;
        }

        
        #pChamp{
            padding: 10px;
        }

        #champItem{
            text-align: left;
            border-top-left-radius: 40px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            
            max-width: 800px;
            padding: 20px;
            height: 261;
            margin: auto;
            background-color: var(--cor5);
            margin-top: 30px;
        }

        #conteudoBasico{
            max-width: 800px;
            margin: auto;
            padding: 10px;
            box-shadow:var(--cor5) 0px 24px 0px;
            border-bottom-right-radius: 40px;
        }

        #goBack{
            width: 100px;
            padding: 10px;
            margin: auto;
            float: right;
            color: var(--cor5);
            background-color: white;
            border: none;
            border-radius: 10px;
            box-shadow: var(--cor5) 0px 5px 0px;
            cursor: pointer;
            transition: 0.3s;
            font-weight: bolder;
        }
        #goBack:hover{
            background-color: var(--cor5);
            box-shadow: rgb(72, 167, 255) 0px 0px 0px;
            color: white;
        }

        footer{
            padding-top: 300px;
            padding-bottom: 20px;
            max-width: 800px;
            margin: auto;
            color: rgb(0, 98, 189);
            font-weight: bolder;
            text-align: center;
        }

        #h3Desc{
            text-align: left;
            color: rgb(67, 164, 255);
            padding-left: 20px;
            box-shadow: rgb(78, 169, 255) -5px 0px 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        #pDesc{
            color: var(--cor4); max-width: 600px; text-align: left; margin: auto;
        }
        #divDesc{
            max-width: 700px;
            margin: auto;
        }