video{
    border-top-left-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

iframe{
    max-width: 560px;

    width: 90%;
    min-width: 320px; margin: 0 auto;}